@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("TrueType");
}

:root {
  --color-primary: #a8ac8a;
  --color-secondary: #dbac88;
  --color-accent: #d4c6a4;
  --color-neutral: #b7b2a4;
  --color-background: #f0e7da;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  width: calc(100% - 5rem);
  min-height: 100dvh;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  height: 4rem;
  box-sizing: border-box;
}

nav > * {
  flex: 1;
}

nav .center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

nav .center a {
  height: 100%;
}

nav .center .logo {
  max-height: 100%;
  max-width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 100%;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: flex;
}

nav ul a:hover {
  background-color: var(--color-background);
  color: black;
  transition: all 0.3s ease-in-out;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  text-wrap: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  margin-top: 4rem;
}

section {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

#landing img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#stories > *,
#why-choose-us > * {
  flex: 1;
}

.image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image img:hover {
  transform: scale(1.05);
}

.text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#stories .text {
  background-color: var(--color-secondary);
}

#why-choose-us .text {
  background-color: var(--color-neutral);
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
}

#contact form label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  nav > * {
    flex: 0;
  }

  nav .center {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 360px) {
  body {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  nav {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    padding: 0 0.5rem;
  }

  nav .center {
    max-height: 30%;
    justify-content: center;
  }

  nav .right ul {
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  nav .right a {
    font-size: smaller;
    padding: 0.25rem 0.5rem;
  }

  section {
    height: auto;
    min-height: 100dvh;
    flex-direction: column;
  }

  .text {
    max-width: 100%;
  }
}
